<!--
<header class="panel-cover {% if page.layout == 'post' or page.layout == 'page' %}panel-cover--collapsed{% endif %}" style="background-image: url(https://gitee.com/octan3/images_bed/raw/master/小书匠/bg1.jpg)">
-->
<script language="javascript">
		var now = new Date();
		var hour = now.getHours();
		var minute = now.getMinutes();
		var second = now.getSeconds();
		var n = minute % 6 + 1;//只有3个背景图片，以后可以多弄点
		if (hour>22){
			n = second % 6 + 1;
		}
		document.write('<header id="myhead" class="panel-cover {% if page.layout == 'post' or page.layout == 'page' %}panel-cover--collapsed{% endif %}" style="background-image: url(https://gitee.com/octan3/images_bed/raw/master/小书匠/bg'+n+'.jpg)">');
</script>
<script language="javascript">
var now = new Date();
var hour = now.getHours();
window.onload=function(){
var i = 0;
//var head=document.getElementById("head");//获取DIV对象
var head=document.getElementById("myhead");//获取DIV对象
        function time(){
               i++;   
               i=i % 6 + 1;         // 超过2则取余数，保证循环在0、1、2之间
	       if (hour == 0){
			// head.style.background="url(https://octan3.gitee.io/images_bed/images/I/"+i+".jpg)";
                        let url = "https://octan3.gitee.io/images_bed/images/I/"+i+".jpg";
                        var img = new Image();
                        img.onload =function () {
                                head.style.background="url("+url+")";
                        }
                        img.src=url;
	       }else{
               		// head.style.background="url(https://gitee.com/octan3/images_bed/raw/master/小书匠/bg"+i+".jpg)";
                        let url = "https://gitee.com/octan3/images_bed/raw/master/小书匠/bg"+i+".jpg";
                        var img = new Image();
                        img.onload =function () {
                                head.style.background="url("+url+")";
                        }
                        img.src=url;
	       }
               
        }
	if(hour == 0){
		setInterval(time,1000*3);//循环调用time1()函数，时间间隔为2000ms
	}else{
		setInterval(time,1000*60);//循环调用time1()函数，时间间隔为2000ms
	}
        //setInterval()函数，按照指定的周期（按毫秒计）来调用函数或表达式
}
</script>
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted">
    <div class="panel-main__content">

        <a href="https://duola-li.github.io" title="前往 {{ site.title }} 的主页" class="blog-button"><img src="https://gitee.com/octan3/images_bed/raw/master/小书匠/touxiang.jpg" width="80" alt="{{ site.title }} logo" class="panel-cover__logo logo" /></a>
        <h1 class="panel-cover__title panel-title"><a href="/#blog" title="link to homepage for {{ site.title }}" class="blog-button">{{ site.title }}</a></h1>
        {% if site.subtitle %}
        <span class="panel-cover__subtitle panel-subtitle">{{site.subtitle}}</span>
        {% endif %}
        <hr class="panel-cover__divider" />
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary" />
        
        {% if site.welcome_message %}
        <p class="panel-cover__description">{{ site.welcome_message }}</p>
        {% endif %}
        
        <div class="navigation-wrapper">
          <div>
            <nav class="cover-navigation cover-navigation--primary">
              <ul class="navigation">
                <li class="navigation__item"><a href="/#blog" title="{{site.blog_button.description}}" class="blog-button">{{site.blog_button.title}}</a></li>
                {% for item in site.nav %}
                  <li class="navigation__item"><a href="{{item.url}}" target="_blank" title="{{item.description}}">{{item.title}}</a></li>
                {% endfor %}
              </ul>
            </nav>
          </div>
          
          <div>{% include social.html %}</div>
        </div>
      </div>
    </div>
    
    {% if site.cover_color %}
    <div class="panel-cover--overlay cover-{{site.cover_color}}"></div>
    {% else %}
    <div class="panel-cover--overlay cover-disabled"></div>
    {% endif %}
  </div>
</header>
